@import 'bootstrap/scss/bootstrap';

.calculator {
    margin: auto;
    margin-top: 30px;
    background: whitesmoke;
    border: 1px solid gray;
    border-radius: 10px;
    width: 300px;

    .display {

        margin-bottom: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: rgba(194, 194, 194, 0.702);
        height: 114.5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .operation-sequence-container {
            display: flex;
            justify-content: flex-end;
            max-width: 100%;
            margin: 0 20px;
            padding-top: 20px;
            overflow: hidden;
            white-space: nowrap;

            p {
                margin: 0;
                font-size: 15px;
            }
        }

        .main-display {
            margin-bottom: 0;
            padding: 20px;
            height: 67px;
            font-size: 18px;
            text-align: right;
            font-weight: bolder;            
        }
    }

    button {
        margin: 3px;
    }

    .btn:focus {
        box-shadow: none;
    }

    .btn-primary:focus {
        background: $primary;
    }

    .btn-success:focus {
        background: $success;
    }

    .btn-danger:focus {
        background: $danger;
    }

    .button-group {

        margin: 10px;

        .upper-row-button-group {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
        }

        .main-button-group {
            display: flex;
            justify-content: space-between;

            .operator-button-group {
                display: flex;
                flex-direction: column;
                width: 60px;
            }

            .number-decimal-button-group {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .number-button-group {
                    button {
                        width: 60px;
                        height: 50px;
                    }
                }

                .other-button-group {
                    align-self: center;
                    button {
                        width: 70px;
                    }
                }
            }
        }
    }
}